<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resident_alert">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activities.ProfileActivity"></activity>
        <activity android:name=".activities.WorkersPanel.MenuWorkersActivity"></activity>
        <activity android:name=".activities.Menu.InfoTicketActivity" />
        <activity android:name=".activities.Menu.UserTicketHistoryActivity" />
        <activity android:name=".activities.Menu.HistoryActivity" />
        <activity android:name=".activities.Login.LoginActivity" />
        <activity android:name=".activities.Login.SmsVerificationActivity" />
        <activity android:name=".activities.Login.SignInActivity" />
        <activity android:name=".activities.Menu.MenuActivity" />
        <activity android:name=".activities.Menu.CompleteActivity" />
        <activity android:name=".activities.Login.SignUpActivity" />
        <activity android:name=".activities.Menu.ActionActivity" />
        <activity android:name=".activities.Menu.PlaceActivity" />
        <activity android:name=".activities.TargetActivity"></activity>
        <activity android:name=".activities.Login.StartActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>